.MuiToolbar-root {
    background-color: #addbd2;
}

.MuiToolbar-root 
.MuiTypography-root.MuiTypography-h6,
.MuiTypography-button.MuiLink-root {
    color: hsl(97deg 5% 30%);
    font-weight: 700;
}
.MuiTypography-button.MuiLink-root {
    text-decoration: none;
    font-weight: 500;
}
.MuiButton-outlined.MuiButton-outlinedPrimary.MuiButton-sizeMedium{
    color: hsl(97deg 5% 30%);
    border: 1px solid hsl(97deg 5% 30%);
    font-weight: 700;
}
.MuiPaper-elevation.MuiPaper-rounded{
    left: 1230px;
    color: hsl(97deg 5% 30%);
}
.MuiButton-root.MuiButton-text {
    color: hsl(97deg 5% 30%);
}
.NavBar {
    display: inline-flex;
}